<div class="margin-main">
    <span>
            <h1>
            <a href="/">
                <div class="red title text-none"> {{ site.title }} </div>
            </a>
            </h1>
            <div class="md pb">
                {{ site.bio }}
            </div>
        </div>
    </span>
</div>