---
layout: layout
---

<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="margin-main pt-1vh">
        <div class="lg"><strong class="underline u-red">{{ title }}</strong></div>
      <div class="post-content">{{ content | safe }}</div>
      <div class="back-link">
        <a href="/">← Back</a>
      </div>
    </div>
  </body>
</html>